@import "tailwindcss";

@font-face {
  font-family: 'LINE Seed TH';
  src: url('./assets/fonts/LINESeedSansTH_W_Th.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'LINE Seed TH';
  src: url('./assets/fonts/LINESeedSansTH_W_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LINE Seed TH';
  src: url('./assets/fonts/LINESeedSansTH_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'LINE Seed TH';
  src: url('./assets/fonts/LINESeedSansTH_W_XBd.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'LINE Seed TH';
  src: url('./assets/fonts/LINESeedSansTH_W_He.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-sans: 'LINE Seed TH', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  font-family: var(--font-sans);
}
